n8n-workflows/ai-message-groq.json
{
    "name": "AI Message Generator - Groq",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "ai-message",
                "responseMode": "responseNode",
                "options": {
                    "allowedOrigins": "*"
                }
            },
            "id": "webhook",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                200,
                300
            ],
            "webhookId": "ai-message-generator"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.groq.com/openai/v1/chat/completions",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sen bir profesyonel WhatsApp mesaj yazarısın. Türkçe yaz. Kısa, etkili ve ikna edici mesajlar oluştur. Emoji kullanabilirsin. Sadece mesaj metnini yaz, başka açıklama ekleme.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.prompt }}\"\n    }\n  ],\n  \"temperature\": 0.8,\n  \"max_tokens\": 500\n}",
                "options": {}
            },
            "id": "groq-api",
            "name": "Groq API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                420,
                300
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "groq-auth",
                    "name": "Groq API Key"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Extract message from Groq response\nconst groqResponse = $input.first().json;\n\nlet message = '';\n\nif (groqResponse.choices && groqResponse.choices[0] && groqResponse.choices[0].message) {\n  message = groqResponse.choices[0].message.content.trim();\n} else {\n  message = 'Mesaj oluşturulamadı. Lütfen tekrar deneyin.';\n}\n\nreturn {\n  json: {\n    message: message,\n    success: true\n  }\n};"
            },
            "id": "parse-response",
            "name": "Parse Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                640,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "id": "respond",
            "name": "Respond",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                860,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Build prompt from incoming data\nconst input = $input.first().json.body;\n\nconst leadName = input.leadName || 'Müşteri';\nconst company = input.company || 'Şirket';\nconst sector = input.sector || 'İşletme';\nconst tone = input.tone || 'professional';\n\nconst toneInstructions = {\n  professional: 'Profesyonel ve resmi bir dil kullan. Saygılı ve işe odaklı ol.',\n  friendly: 'Samimi ve sıcak bir dil kullan. Dostça ama profesyonellik sınırlarını aşma.',\n  sales: 'İkna edici ve değer odaklı bir dil kullan. Acil fırsatlar ve özel teklifler vurgula.',\n  offer: 'Bu işletmeyi analiz et ve 3 maddelik büyüme stratejisi öner.'\n};\n\nconst prompt = `Bir işletmeye WhatsApp üzerinden lead mesajı yaz.\n\nLead Bilgileri:\n- İsim: ${leadName}\n- Şirket: ${company}\n- Sektör: ${sector}\n\nTon: ${tone}\n${toneInstructions[tone] || toneInstructions.professional}\n\nKurallar:\n1. Şablon kullanma, her mesaj firmaya özel olsun\n2. Sektöre özel terminoloji kullan\n3. 80-120 kelime arası olsun\n4. Selamla başla, soru ile bitir\n5. Gerçekçi ve samimi ol`;\n\nreturn {\n  json: {\n    prompt: prompt\n  }\n};"
            },
            "id": "build-prompt",
            "name": "Build Prompt",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                200,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Build Prompt",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Prompt": {
            "main": [
                [
                    {
                        "node": "Groq API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Groq API": {
            "main": [
                [
                    {
                        "node": "Parse Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Response": {
            "main": [
                [
                    {
                        "node": "Respond",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "active": false
}