n8n-workflows/evolution-api-proxy.json
{
    "name": "Evolution API Proxy",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "evolution-proxy",
                "responseMode": "responseNode",
                "options": {
                    "rawBody": true
                }
            },
            "id": "webhook-trigger",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                300
            ]
        },
        {
            "parameters": {
                "method": "={{ $json.body.method || 'GET' }}",
                "url": "={{ 'https://evolution2.lueratech.com' + $json.body.endpoint }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "={{ $json.body.apiKey }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": "={{ $json.body.method !== 'GET' }}",
                "specifyBody": "json",
                "jsonBody": "={{ $json.body.data ? JSON.stringify($json.body.data) : '{}' }}",
                "options": {
                    "allowUnauthorizedCerts": true,
                    "response": {
                        "response": {
                            "fullResponse": true,
                            "responseFormat": "json"
                        }
                    }
                }
            },
            "id": "http-request",
            "name": "Evolution API Request",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                220,
                300
            ],
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "success-check",
                            "leftValue": "={{ $json.statusCode }}",
                            "rightValue": 300,
                            "operator": {
                                "type": "number",
                                "operation": "less"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check-success",
            "name": "Check Success",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                440,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {
                    "responseCode": 200,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "id": "respond-success",
            "name": "Respond Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                440,
                200
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": false, \"error\": $json } }}",
                "options": {
                    "responseCode": 500,
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            }
                        ]
                    }
                }
            },
            "id": "respond-error",
            "name": "Respond Error",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                440,
                400
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Evolution API Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Evolution API Request": {
            "main": [
                [
                    {
                        "node": "Check Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Success": {
            "main": [
                [
                    {
                        "node": "Respond Success",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "1",
    "triggerCount": 0
}