n8n-workflows/final-qr-receiver.json
{
    "name": "Evolution QR -> Supabase Sync (Final)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "evolution-qr",
                "options": {}
            },
            "id": "webhook-evolution",
            "name": "Webhook (evolution-qr)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json.body.event }}",
                "rules": {
                    "rules": [
                        {
                            "value2": "qrcode.updated",
                            "output": 0
                        },
                        {
                            "value2": "connection.update",
                            "output": 1
                        }
                    ]
                },
                "fallbackOutput": 2
            },
            "id": "switch-event",
            "name": "Switch Event",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "cond-open",
                            "leftValue": "={{ $json.body.data.state }}",
                            "rightValue": "open",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check-connected",
            "name": "Is Connected?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                900,
                400
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://supabasekong-s8gc44cg0s4scogoskogs4oc.lueratech.com/rest/v1/qr_codes",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc2OTExODE4MCwiZXhwIjo0OTI0NzkxNzgwLCJyb2xlIjoiYW5vbiJ9.puoy6ZxX7fqXuLWFHG9GyHnEGXeZ3cEFK_sgOn5ZQk8"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc2OTExODE4MCwiZXhwIjo0OTI0NzkxNzgwLCJyb2xlIjoiYW5vbiJ9.puoy6ZxX7fqXuLWFHG9GyHnEGXeZ3cEFK_sgOn5ZQk8"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "resolution=merge-duplicates"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"instance_name\": \"{{ $json.body.instance }}\",\n  \"qr_base64\": \"{{ $json.body.data.qrcode.base64 }}\",\n  \"updated_at\": \"{{ $now.toISO() }}\"\n}",
                "options": {}
            },
            "id": "save-qr-supabase",
            "name": "Save QR to Supabase",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1120,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://supabasekong-s8gc44cg0s4scogoskogs4oc.lueratech.com/rest/v1/qr_codes",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc2OTExODE4MCwiZXhwIjo0OTI0NzkxNzgwLCJyb2xlIjoiYW5vbiJ9.puoy6ZxX7fqXuLWFHG9GyHnEGXeZ3cEFK_sgOn5ZQk8"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc2OTExODE4MCwiZXhwIjo0OTI0NzkxNzgwLCJyb2xlIjoiYW5vbiJ9.puoy6ZxX7fqXuLWFHG9GyHnEGXeZ3cEFK_sgOn5ZQk8"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "resolution=merge-duplicates"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"instance_name\": \"{{ $json.body.instance }}\",\n  \"qr_base64\": null,\n  \"updated_at\": \"{{ $now.toISO() }}\"\n}",
                "options": {}
            },
            "id": "clear-qr-supabase",
            "name": "Clear QR (Connected)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1340,
                400
            ]
        }
    ],
    "connections": {
        "Webhook (evolution-qr)": {
            "main": [
                [
                    {
                        "node": "Switch Event",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch Event": {
            "main": [
                [
                    {
                        "node": "Save QR to Supabase",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Is Connected?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Connected?": {
            "main": [
                [
                    {
                        "node": "Clear QR (Connected)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}