n8n-workflows/qr-code-webhook-configured.json
{
    "name": "QR Code Webhook Receiver (Configured)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "evolution-qr",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-qr",
            "name": "Webhook QR",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "condition-qr",
                            "leftValue": "={{ $json.body.event }}",
                            "rightValue": "qrcode.updated",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "if-qr-event",
            "name": "Is QR Event?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                220,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://supabasekong-s8gc44cg0s4scogoskogs4oc.lueratech.com/rest/v1/qr_codes",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc2OTExODE4MCwiZXhwIjo0OTI0NzkxNzgwLCJyb2xlIjoiYW5vbiJ9.puoy6ZxX7fqXuLWFHG9GyHnEGXeZ3cEFK_sgOn5ZQk8"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc2OTExODE4MCwiZXhwIjo0OTI0NzkxNzgwLCJyb2xlIjoiYW5vbiJ9.puoy6ZxX7fqXuLWFHG9GyHnEGXeZ3cEFK_sgOn5ZQk8"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "resolution=merge-duplicates"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"instance_name\": \"{{ $json.body.instance }}\",\n  \"qr_base64\": \"{{ $json.body.data.qrcode.base64 }}\",\n  \"updated_at\": \"{{ $now.toISO() }}\"\n}",
                "options": {}
            },
            "id": "save-to-supabase",
            "name": "Save to Supabase",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                440,
                200
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"message\": \"QR code saved\" } }}",
                "options": {}
            },
            "id": "respond-success",
            "name": "Respond Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                660,
                200
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": false, \"message\": \"Not a QR event\" } }}",
                "options": {}
            },
            "id": "respond-skip",
            "name": "Respond Skip",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                440,
                400
            ]
        }
    ],
    "connections": {
        "Webhook QR": {
            "main": [
                [
                    {
                        "node": "Is QR Event?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is QR Event?": {
            "main": [
                [
                    {
                        "node": "Save to Supabase",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond Skip",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save to Supabase": {
            "main": [
                [
                    {
                        "node": "Respond Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}