n8n-workflows/whatsapp-bulk-v18.json
{
    "name": "WhatsApp - Toplu Gönderim V18 (Ultra-Basit)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp-bulk-v18",
                "responseMode": "responseNode",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "webhook-v18",
            "name": "Webhook V18",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -200,
                240
            ],
            "webhookId": "whatsapp-bulk-v18"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"message\": \"V18 Gönderim Başlatıldı\",\n  \"total\": {{ $json.body.leads.length }}\n}",
                "options": {}
            },
            "id": "respond-v18",
            "name": "Hızlı Yanıt",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                20,
                80
            ]
        },
        {
            "parameters": {
                "jsCode": "const leads = $input.first().json.body.leads || [];\n\nreturn leads.map((lead, i) => ({\n  json: {\n    phone: (lead.phone || '').toString().replace(/\\D/g, ''),\n    message: lead.message || 'Merhaba!',\n    delay: i === 0 ? 0 : Math.floor(Math.random() * 61) + 20\n  }\n}));"
            },
            "id": "format-v18",
            "name": "Format Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                20,
                300
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "loop-v18",
            "name": "Loop (Batch 1)",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "amount": "={{ $json.delay }}",
                "unit": "seconds"
            },
            "id": "wait-v18",
            "name": "Wait",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                460,
                300
            ],
            "webhookId": "wait-v18"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://evolotion2.lueratech.com/message/sendText/testwp",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "D185530EADF4-4A27-B8FC-FAF0ADB6BF67"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"number\": \"{{ $json.phone }}\",\n  \"text\": {{ JSON.stringify($json.message) }}\n}",
                "options": {
                    "timeout": 30000
                }
            },
            "id": "http-v18",
            "name": "HTTP Request",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                680,
                300
            ],
            "onError": "continueRegularOutput"
        }
    ],
    "connections": {
        "Webhook V18": {
            "main": [
                [
                    {
                        "node": "Hızlı Yanıt",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Format Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Data": {
            "main": [
                [
                    {
                        "node": "Loop (Batch 1)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop (Batch 1)": {
            "main": [
                [],
                [
                    {
                        "node": "Wait",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait": {
            "main": [
                [
                    {
                        "node": "HTTP Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request": {
            "main": [
                [
                    {
                        "node": "Loop (Batch 1)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}