n8n-workflows/whatsapp-bulk-v16.json
{
    "name": "WhatsApp - Toplu Gönderim V16 (Robust Logic)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp-bulk-v16",
                "responseMode": "responseNode",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                }
            },
            "id": "webhook-v16",
            "name": "Webhook V16",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -200,
                240
            ],
            "webhookId": "whatsapp-bulk-v16"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"message\": \"V16 İşlem Başlatıldı\",\n  \"total_leads\": {{ $node[\"Webhook V16\"].json.body.leads.length }},\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
                "options": {}
            },
            "id": "respond-v16",
            "name": "Hızlı Yanıt",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                20,
                80
            ]
        },
        {
            "parameters": {
                "jsCode": "const body = $input.first().json.body;\nconst leads = body.leads || [];\n\nconst items = leads.map((lead, index) => {\n  let phone = (lead.phone || lead.phoneNumber || '').toString().replace(/\\D/g, '');\n  if (phone.startsWith('0')) phone = '90' + phone.substring(1);\n  else if (!phone.startsWith('90') && phone.length === 10) phone = '90' + phone;\n\n  let finalMessage = lead.message || body.message || '';\n\n  let delaySeconds = 0;\n  if (index > 0) {\n     delaySeconds = Math.floor(Math.random() * (75 - 10 + 1) + 10);\n  }\n\n  return {\n    json: {\n      phone: phone,\n      message: finalMessage,\n      delaySeconds: delaySeconds,\n      index: index + 1,\n      total: leads.length\n    }\n  };\n});\n\nreturn items;"
            },
            "id": "format-v16",
            "name": "Format ve Delay Hesapla",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                20,
                400
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "loop-v16",
            "name": "Döngü (Loop)",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                240,
                400
            ]
        },
        {
            "parameters": {
                "amount": "={{ $json.delaySeconds }}",
                "unit": "seconds"
            },
            "id": "wait-v16",
            "name": "Akıllı Bekleme",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                460,
                400
            ],
            "webhookId": "wait-v16-webhook"
        },
        {
            "parameters": {
                "resource": "messages-api",
                "operation": "sendText",
                "instanceName": "testwp",
                "number": "={{ $json.phone }}",
                "text": "={{ $json.message }}"
            },
            "id": "evolution-v16",
            "name": "Evolution - Send Text",
            "type": "n8n-nodes-evolution-api-en.evolutionApi",
            "typeVersion": 1,
            "position": [
                700,
                400
            ],
            "credentials": {
                "evolutionApi": {
                    "id": "aQpIhjoqUeyDlohw",
                    "name": "Evolution account"
                }
            },
            "onError": "continueRegularOutput"
        }
    ],
    "connections": {
        "Webhook V16": {
            "main": [
                [
                    {
                        "node": "Hızlı Yanıt",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Format ve Delay Hesapla",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format ve Delay Hesapla": {
            "main": [
                [
                    {
                        "node": "Döngü (Loop)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Döngü (Loop)": {
            "main": [
                [
                    {
                        "node": "Akıllı Bekleme",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Akıllı Bekleme": {
            "main": [
                [
                    {
                        "node": "Evolution - Send Text",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Evolution - Send Text": {
            "main": [
                [
                    {
                        "node": "Döngü (Loop)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}